*{
    margin: 0;
    padding: 0;
}
body{
   
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
nav{
    width: 100%;

}
menu{
    width: 100%;
    background-color: rgb(172, 235, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px;
}
menu ul{
    display: flex;
}
menu ul li{
    list-style: none;
}
menu ul li a{
    color: whitesmoke;
    padding: 21px;
    text-decoration: none;
}
menu ul li a:hover{
    background-color: whitesmoke;
    color: black;
    padding: 21px;
}
input{
    padding: 5px;
    border-radius: 5px;
    border-color: aliceblue;
}